/* styles */
/* called by your view template */
* {
  box-sizing: border-box;
  max-width: 600px;
  margin: 0;
}
html {
  height: 99%;
}
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.title {
  font-style: italic;
  font-weight: bold;
  color: #373fff;
  font-size: 3rem;
  line-height: 4rem;
}

.count {
  font-size: 1rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 4rem;
}
#current {
  font-size: 4.5rem;
  font-style: italic;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
  display: inline;

  color: red;
  text-shadow: 1px 1px 2px white;
  /* background: lightpink; */
  /* padding: 7px 12px; */
}
.bold {
  font-weight: bold;
}
p {
  max-width: 600px;
}
main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

input {
  display: block;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
  min-width: 40px;
  margin: 5px;
}
button {
  font-size: 20px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
  padding: 10px;
}
button:hover {
  background-color: yellow;
}
button:active {
  box-shadow: none;
}

.inline {
  display: inline;
}
.box {
  align-items: center;
  padding: 15px;
  display: inline-block;
  width: 100%;
  border-radius: 3px;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: lightblue;
}
.container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grow {
  flex: 1 0 auto;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vidbg {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  max-width: unset;
}

#bgVid {
  height: 100%;
  background-size: cover;
  max-width: unset;
}

#fullscreen {
  position: absolute;
  top: 20px;
  right: 20px;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  background: white;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  line-height: 1.4rem;
}
